* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}


/* Estilizando a navbar */

header {
    display: flex;
    justify-content: right;
    align-items: right;
    height: 40px;
    padding: 10px;
    background-color: #404040;
}

header .navbar {
    word-spacing: 12px;
    padding-right: 35px;
}

header .navbar a {
    color: #E5E5E5;
    font-size: 1rem;
}

header .navbar a:hover {
    color: #ac0017;
}




/* section main */

.main {
    background-image: url('https://img.freepik.com/fotos-gratis/plano-de-fundo-de-programacao-com-pessoa-trabalhando-com-codigos-no-computador_23-2150010125.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 600px;
    opacity: 89%;
}


.text-container img{
    width: 30px;
    height: 25px;
    opacity: 80%;
}

.text-container h3 {
    color: wheat;
    font-size: 1.5rem;
    font-weight: bold;
}
.text-container h1 {
    color: #FFFFFF;
    font-size: 1.6rem;
}

.text-container span {
    color: #ac0017;
}


.text-container {
    padding: 280px 0px 10px 90px;
}



/* sobre-container */

.sobre-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #404040;
}


.sobre-container img {
    width: 150px;
    margin-left: 32px; 
    border-radius: 4%;
    margin-bottom: 20px;
}


.sobre-container p {
    padding: 55px 0px 0px 20px;
    color: #FFFFFF;
    font-size: 0.525rem;
}

.sobre h2 {
    background-color: #404040;
    text-align: center;
}

.sobre-container strong {
    color: rgb(9, 163, 4);
}









/* estilizando portfolio */





.habilidades {
    display: grid;
    background-color: #1a1c1d;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
}


.habilidades .container-text {
    color: #d5d5d5;
    padding-top: 40px;
    padding-left: 0px;
}

.habilidades .container-text h2 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

.habilidades video {
    width: 12.5rem;
    height: 25rem;
    padding-bottom: 20px;
    padding-top: 10px;
    box-shadow: 0 0 20px rgba(221, 11, 11, 0.5); /* Adiciona um contorno 3D */
    margin-top: 20px; /* Adiciona margem superior para afastar o vídeo de cima */
    margin-bottom: 20px; /* Adiciona margem inferior para afastar o vídeo da seção */
}

.container-text {
    margin-right: 0px; /* Adicione margem à direita para afastar os botões um pouco para a direita */
}

.container-text button {
    border: 2px solid #dd0d0d;
    padding: 0;
    margin: 0 8px; /* Adicione margem para criar espaço entre os botões */
    width: 50px;
    display: inline-block;
    text-align: center;
    background: linear-gradient(to bottom right, gray, #333);
    background-size: 200% 200%;
    transition: background-position 0.3s ease, border 0.3s ease;
    color: #fff;
    cursor: pointer;
}

.container-text button:last-child {
    margin-right: 0;
}

.container-text button img {
    max-width: 100%;
    height: 42px;
}

.container-text button:hover {
    background-position: 100% 100%;
    border: 2px solid #00ed33;
}

.habilidades .text-habilidades {
    font-size: 1rem;
    padding-top: 20px;
    padding-left: 10px;
}



.container-text p {
    font-size: 1.6rem;
    padding: 60px 0px 0px 75px;
}
.links-project{
    padding: 40px;
}



/* button project */
.links-project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 300px;
}

.links-project button {
    width: 70px;
    height: 38px;
    border-radius: 7px;
    margin-left: 12px; /* Reduza o valor para mover os botões para a esquerda */
    gap: 0px;
}

.links-project span {
    font-size: 1.6rem;
    text-align: center;
    height: auto;
}










@media screen and (min-width: 461px) {
    
    .habilidades{
        display: grid;
        grid-template-columns: 1fr;
    }

    .video-container {
        padding-left: 75px;
    }
    
    .links-project button {
        margin-left: 40px;
    }
    
}

@media screen and (min-width: 360px) {
    
    .habilidades{
        display: grid;
        grid-template-columns: 1fr;
    }

    .video-container {
        padding-left: 45px;
    }

    .links-project button {
        margin-left: 20px;
    }
    .container-text p{
        padding: 40px 0px 0px 50px;
    }
}
    @media screen and (min-width: 907px) {
       .habilidades{
        display: grid;
        grid-template-columns: 1fr 1fr;
       }
    
        .container-text {
            padding: 50px 0px 10px 0px;
        }
    
        .video-container video{
            width: 640px;
            height: 400px;
        }
        header .navbar a {
            font-size: 1.2rem;
        }
    
        .text-container h3 {
            display: flex;
            flex-direction: row;
            color: wheat;
            font-size: 1.8rem;
            font-weight: bold;
            padding: 0px 40px;
        }
        .text-container h1 {
            color: #FFFFFF;
            font-size: 2rem;
        }
        .sobre-container img {
            margin-left: 89px; 
            margin-bottom: 40px;
            border-radius: 4%;
            margin-bottom: 20px;
            width: 300px;
        }
    
        .sobre-container p{
            padding: 120px 0;
            font-size: 1.8rem;
    }
    
    .container-text {
        font-size: 2rem;
        margin: 20px 0px 120px 52px;
    }
 }



 @media screen and (min-width: 600px) {
    
    .habilidades{
        display: grid;
        grid-template-columns: 1fr;
    }

    .video-container {
        padding-left: 45px;
    }

    .links-project button {
        margin-left: 20px;
    }
    .container-text p{
        padding: 40px 0px 0px 50px;
    }

    .video-container video{
        width: 450px;
        height: 280px;
    }


}


@media screen and (min-width: 1338px) {
    .habilidades{
     display: grid;
     grid-template-columns: 1fr 1fr;
    }
 
     .container-text {
         padding: 50px 0px 10px 0px;
     }
 
     .video-container video{
         width: 640px;
         height: 400px;
     }
     header .navbar a {
         font-size: 1.2rem;
     }
 
     .text-container h3 {
         display: flex;
         flex-direction: row;
         color: wheat;
         font-size: 1.8rem;
         font-weight: bold;
         padding: 0px 40px;
     }
     .text-container h1 {
         color: #FFFFFF;
         font-size: 2rem;
     }
     .sobre-container img {
         margin-left: 89px; 
         margin-bottom: 40px;
         border-radius: 4%;
         margin-bottom: 20px;
         width: 300px;
     }
 
     .sobre-container p{
         padding: 120px 0;
         font-size: 1.8rem;
 }
 
 .container-text {
     font-size: 2rem;
     margin: 20px 0px 120px 52px;
 }
}



 